<div class="container">
	<div id="fui-button" class="pbl"></div>

	<div class="demo-row">
		<div class="demo-title">Store</div>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search"
				id="search-query-4" ng-model="searchStore"> <span
				class="input-group-btn">
				<button type="submit" class="btn">
					<span class="fui-search"></span>
				</button>
			</span>
		</div>
		<div class="demo-content">
			<ul ng-repeat="item in items | filter:searchStore">
				<li>
					<h1>{{item.name}}</h1>
					<img src={{item.image}}>
					<p>
						Preis: {{item.price}} <br> Marke: {{item.make}} <br>
						Gekühlt?: {{item.needsCooling}}
					</p>
				</li>

			</ul>
		</div>
		<!-- /.demo-content -->
	</div>
	<!-- /.demo-row -->
</div>
<!-- /.container -->

