<div class="container">
	<h1 class="md-display-2">Product Selection</h1>
	<div class="demo-row">
		<div class="demo-title">Store</div>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search"
				id="search-query-4" ng-model="searchStore"> <span
				class="input-group-btn">
				<button type="submit" class="btn">
					<span class="fui-search"></span>
				</button>
			</span>
		</div>
		<div class="demo-content">
			<ul ng-repeat="item in items | filter:searchStore">
				<li>
					<h3>{{item.name}}</h3>
					<p>
						Preis: {{item.price/100}}€ <br> Marke: {{item.brand}} <br>
						Gekühlt?: {{item.cooling}}<br>
					<form ng-submit="submit(item)">
						<div class="col-lg-8">
							<input class="form-control" placeholder="Anzahl"  type="number"
								required min="1" id="Anzahl" name="Anzahl" ng-model="item.newamount"/>
						</div>
						<input type="submit" id="submit" value="In den Warenkorb" />
					</form>
					</p>
				</li>

			</ul>
		</div>
		<div class="demo-content">
			<h1>Warenkorb</h1>
			<ul ng-repeat="product in cart track by $index">
				<li>
					<h1>{{product.name}}</h1>
					<p>
						Anzahl: {{product.amount}}<br>
						Preis: {{product.price/100}}€ <br> 
						Marke: {{product.brand}} <br>
					</p>
				</li>

			</ul>
			<h1>Gesamtkosten: {{totalCost/100}}€</h1>
		</div>
		<!-- /.demo-content -->
	</div>
	<!-- /.demo-row -->
</div>
<!-- /.container -->

